@page
@model MyApp.Namespace.MH_1Model
@{
}

<form method="post">
    <label for="N">So nguyen N</label>
    <input type="number" name="N" value="@Model.N"><br/>
    <input type="submit" value="submit">
</form>

<p>Ket qua la: @Model.KetQua</p>