@page
@model MyApp.Namespace.MH_2Model
@{
}

<form method="post">
    <label for="Ten">Ten Sp</label>
    <input type="text" name="Ten" value="@Model.Ten"><br/>

    <label for="Ten">Gia</label>
    <input type="number" name="Gia" value="@Model.Gia"><br/>

    <label for="Ten">Han dung</label>
    <input type="datetime-local" name="HanDung" value="@Model.HanDung"><br/>

    <label for="Ten">Loai</label>
    <input type="text" name="Loai" value="@Model.Loai"><br/>

    <input type="submit" value="submit">
</form>