@page
@model MyApp.Namespace.MH_4Model
@{
}

<form method="post">
    <label for="DuongDan1">Duong dan 1</label>
    <input type="text" name="DuongDan1" id=""><br>
    <label for="DuongDan2">Duong dan 2</label>
    <input type="text" name="DuongDan2" id=""><br>

    <input type="submit" value="Kiem tra">
</form>

<p>Ket qua la: @Model.KetQua.ToString()</p>
